@import '../../style/lib/vars';

.navbar {
  background: $primary-color;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 3.75vw $gutter-sm;
  font-size: $font-lg;
}
.navbar a {
  color: $secondary-color;
  font-weight: 400;
  letter-spacing: $letter-spacing-sm;
  font-size: $font-lg;
  line-height: 1;
}
