.title {
  margin: $gutter-sm 0 ;
  color: $primary-color;
  font-weight: 300;
  letter-spacing: $letter-spacing-lg;
  font-size: $font-lg;
}
.cat-title {
  margin-top: 0;
}
.form {
  padding: 3vw 0;
  border-bottom: .25vw #979797 solid;
}