@import '../../style/lib/vars';

.category {
  margin: 2vw 0;
  font-weight: 500;
  color: #4a4a4a;
  font-size: 2vw;
}
.categoryTitle {
  font-weight: 300;
  letter-spacing: 0.25vw;
  font-size: 2.5vw;
  font-weight: 300;
  margin-right: 2vw;
  font-weight: 300;
}
.categoryBudget {
  color: #4a4a4a;
  font-size: 2vw;
  letter-spacing: 0.1vw;
  font-weight: 200;
  font-size: 2vw;
}

.expenses-container {
  border-radius: 0.5vw;
  background: #eee;
  border: solid 0.3vw #4a4a4a;
  padding: 2vw;
  margin: 2vw 0;
}
.expense-title {
  font-size: 2vw;
}
.expense-outer-div {
  width: 30vw;
  display: inline-block;
}
.expense-form {
  width: 40vw;
}