@import '../../style/lib/vars';

.expense-item-section {
  display: inline-block;
}
.expense-item {
  border-radius: 0.5vw;
  border: solid 0.25vw #B2B2B2;
  background: #D8D8D8;
  color: #4a4a4a;
  position: relative;
  display: inline-block;
  padding: 2vw;
}
.expenseDeleteButton {
  position: absolute;
  top: 1.5vw;
  right: 1.5vw;
  cursor: pointer;
  font-size: 2vw;
  font-weight: 200;
}